<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">
  
<mapper namespace="kr.co.shop.pro.mapper.ProductMapper">
 <select id="list" resultType="kr.co.shop.pro.vo.ProductVO">
 	select * from nongsan where pcode like concat('%',#{param1},'%')
 </select>
 <select id="content" resultType="kr.co.shop.pro.vo.ProductVO">
 	select * from nongsan where pcode=#{param1}
 </select>
 <insert id="cart_add" parameterType="kr.co.shop.pro.vo.CartVO">
 	insert into cart (userid, pcode, su) values (#{userid}, #{pcode}, #{su})
 </insert>
 <select id="get_member" resultType="kr.co.shop.member.vo.MemberVO">
 	select * from member where userid=#{param1}
 </select>
 <select id="get_baesong" resultType="kr.co.shop.pro.vo.BaesongVO">
 	select * from baesong where gibon=1 and userid=#{param1}
 </select>
 <select id="view_baesong" resultType="kr.co.shop.pro.vo.BaesongVO">
 	select * from baesong where userid=#{param1}
 </select>
 <insert id="baesong_add_ok" parameterType="kr.co.shop.pro.vo.BaesongVO">
 	insert into baesong(zip,juso1,juso2,userid,gibon,name,phone,req) values (#{zip},#{juso1},#{juso2},#{userid},#{gibon},#{name},#{phone},#{req})
 </insert>
</mapper>